---
import { humanize } from "@/lib/utils/textConverter";
import { getSinglePage } from "@/lib/contentParser.astro";
import AuthorCard from "@/components/AuthorCard.astro";

const COLLECTION_FOLDER = "authors";
const { tags, categories, allCategories } = Astro.props;
const authors = await getSinglePage(COLLECTION_FOLDER);
---

<div class="lg:col-4">
  <!-- skapare -->
    <div class="mb-8">
    <h5 class="mb-6">Skapare</h5>
    <div class="rounded bg-light p-6 dark:bg-darkmode-light">
      <ul>
        {
          authors.map((author) => {
            return (
              <li class="inline-block">
                <a
                  class="m-1 block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-text-dark"
                  href={`/skapare/${author.id}`}
                >
                  {author.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <!-- categories -->
  <div class="mb-8">
    <h5 class="mb-6">Kategorier</h5>
    <div class="rounded bg-light p-8 dark:bg-darkmode-light">
      <ul class="space-y-4">
        {
          categories.map((category: any) => {
            const count = allCategories.filter(
              (c: any) => c === category
            ).length;
            return (
              <li>
                <a
                  class="flex justify-between hover:text-primary dark:hover:text-darkmode-primary"
                  href={`/kategorier/${category}`}
                >
                  {humanize(category)} <span>({count})</span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <!-- tags -->
  <div class="mb-8">
    <h5 class="mb-6">Taggar</h5>
    <div class="rounded bg-light p-6 dark:bg-darkmode-light">
      <ul>
        {
          tags.map((tag: any) => {
            return (
              <li class="inline-block">
                <a
                  class="m-1 block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-text-dark"
                  href={`/taggar/${tag}`}
                >
                  {humanize(tag)}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</div>
