---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import BlogCard from "@/components/BlogCard.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { Button, Feature } from "@/types";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { FaCheck } from "react-icons/fa";

const BLOG_FOLDER = "blog";

interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button: Button;
  };
  features: Feature[];
}

const homepage = (await getEntry(
  "homepage",
  "-index"
)) as CollectionEntry<"homepage">;

const { banner, features } = homepage.data as Homepage;
const posts = await getSinglePage(BLOG_FOLDER);
const latestPosts = posts.slice(0, 3);
---

<Base>
  <!-- Banner -->
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-7 md:col-9 mb-8 text-center">
          <h1
            set:html={markdownify(banner.title)}
            class="mb-4 text-h3 lg:text-h1"
          />
          <p set:html={markdownify(banner.content)} class="mb-8" />
          {
            banner.button.enable && (
              <a
                class="btn btn-primary"
                href={banner.button.link}
                target={
                  banner.button.link.startsWith("http") ? "_blank" : "_self"
                }
                rel="noopener"
              >
                {banner.button.label}
              </a>
            )
          }
        </div>
        {
          banner.image && (
            <div class="col-12">
              <ImageMod
                src={banner.image}
                height={380}
                width={1200}
                alt="banner"
                format="webp"
              />
            </div>
          )
        }
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <!-- Features -->

    
  <section class="section-sm bg-gradient">
    <div class="container">
      <div class="text-center">
        <h2 class="mb-8 text-h3 lg:text-h1">Senaste Nyheter</h2>
      </div>
      
      <div class="md:grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        { 
          latestPosts.map(post => (
            <div class="">
              <BlogCard data={post}/>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <!-- /Features -->
</Base>
